<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>TO DO LIST</h1>
    
    <div id="app">
        <div class="show">
            <!-- <h1>TO DO LIST</h1> -->
            <div id="todolist">
                <form @submit.prevent="addTask">
                    <label for=""> Topic: </label>
                    <input type="text" placeholder="Project" v-model="newTask.topic"> 
                    <input type="date" v-model="newTask.date"> <br>
                    <label for=""> Describe: </label>
                    <input type="text" placeholder="Task" class="Task" v-model="newTask.description">
                    <button type="submit" class="add">Add</button>

                </form>
            </div>

            <ul class="list">
                <li v-for="(task, index) in tasks" :key="index">
                    <input type="checkbox" >
                    <span ><b style="font-size: 20px;" >Topic:</b> {{ task.topic }}</span>
                    <span><b style="font-size: 20px;"> Describe:</b>{{ task.description }}</span>
                    <span><b style="font-size: 20px;">Deadline:</b> {{ task.date }}</span>
                    <!-- <i class="fa-solid fa-delete-right"></i> -->
                    <!-- <span class="material-symbols-outlined" @click="deleteTask(index)">delete</span> -->
                    <span class="icon_delete" @click="deleteTask(index)"><img src="./gif/11186844.gif" alt="" style="font-size: 20px;"></span>
                    <!-- <span class="material-symbols-outlined">edit</span> -->
                    <span class="icon_edit" @click="editTask(index)"><img src="./gif/edit.gif" alt=""></span>                    
                </li>
            </ul> 
            <p class="dem">Bạn có {{ numberOfTasks }} task cần thực hiện</p>
            <button type="submit" class="delall" @click="deleteTaskAll"> DEL ALL</button>
            
        </div>
        <!--  -->
        <div v-if="showEditForm" class="edit-form">
            <h2>Edit to do list</h2>
            <form @submit.prevent="saveEditedTask" >
                <label for="">Topic:</label>
                <input type="text" v-model="newTask.topic"> <br>

                <label for="">Date:</label>
                <input type="date" v-model="newTask.date"> <br>

                <label for="">Description:</label>
                <input type="text" v-model="newTask.description">
                
                <button type="submit" class="upload">UPLOAD</button>
            </form>
        </div>
        <!-- hien thi chi tiet -->
        <!-- style="display: none;" -->
        <!-- <div class="chi_tiet">
            <span class="material-symbols-outlined">cancel</span>
            <h3>Chi tiết công việc</h3>
            <table class="table_CT"> -->
                <!-- <tr>
                    <td>Topic</td>
                    <td>Describe</td>
                    <td>Date</td>
                    <td>Edit</td>
                </tr> -->
                <!-- <tr>
                    <td>Topic</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Describe</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table> -->
        <!-- </div> -->
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>
